<!DOCTYPE html>
<html lang="en">
<head>
<title>WEB SPACY</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">
<style>
body,h1,h2,h3,h4,h5 {font-family: "Poppins", sans-serif}
body {font-size:16px;}
.w3-half img{margin-bottom:-6px;margin-top:16px;opacity:0.8;cursor:pointer}
.w3-half img:hover{opacity:1}
</style>
</head>
<body>
	<nav class="w3-sidebar w3-red w3-collapse w3-top w3-large w3-padding" style="z-index:3;width:300px;font-weight:bold;" id="mySidebar"><br>
		<a href="javascript:void(0)" onclick="w3_close()" class="w3-button w3-hide-large w3-display-topleft" style="width:100%;font-size:22px">Close Menu</a>
		<div class="w3-container">
		  <h3 class="w3-padding-64"><b>NER<br>PAGE</b></h3>
		</div>
		<div class="w3-bar-block">
		  <a href="{{ url_for('upload_form') }}" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">HOME</a> 
		  <a href="{{ url_for('upload_form') }}" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">UPLOAD</a> 
		  <a href="{{ url_for('search_1') }}" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">SEARCH</a> 
		  <a href="{{ url_for('top5_1') }}" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">TOP 5</a> 
		  <a href="{{ url_for('spacy_1') }}" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">NER</a> 
		  <a href="{{ url_for('fakenews') }}" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">FAKE NEWS DETECTION</a>
		  <a href="{{ url_for('sentiment') }}" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">SENTIMENT ANALYSIS</a> 
		</div>
	  </nav>
      <header class="w3-container w3-top w3-hide-large w3-red w3-xlarge w3-padding">
		<a href="javascript:void(0)" class="w3-button w3-red w3-margin-right" onclick="w3_open()">☰</a>
		<span>NER</span>
	  </header>
	  <div class="w3-main" style="margin-left:340px;margin-right:40px">
	  <div class="w3-container" style="margin-top:80px" id="showcase">
		<h1 class="w3-jumbo"><b>NER</b></h1>
		<h1 class="w3-xxxlarge w3-text-red"><b>
			<form method="POST" action="/extract">
				<select name=rawtext method="GET" action="/">
				  <option value="{{files[0]}}" SELECTED>{{files[0]}}</option>
				  {% for fil in files[1:] %}
					  <option value="{{fil}}">{{fil}}</option>
				  {% endfor %}
			  </select>
					<button type="reset" class="btn btn-primary"><i class="fa fa-eraser"></i> Clear</button>
					<button type="submit" class="btn btn-info"><i class="fa fa-database"></i> Submit</button>
				</form>
		</b></h1>
		<hr style="width:50px;border:5px solid red" class="w3-round">
	  </div>
      <div class="w3-light-grey w3-container w3-padding-32" style="margin-top:75px;padding-right:58px"><p class="w3-right">Powered by PIPATPONG</a></p></div>
	  <script>
		// Script to open and close sidebar
		function w3_open() {
		  document.getElementById("mySidebar").style.display = "block";
		  document.getElementById("myOverlay").style.display = "block";
		}
		 
		function w3_close() {
		  document.getElementById("mySidebar").style.display = "none";
		  document.getElementById("myOverlay").style.display = "none";
		}
	</script>

</body>
</html>